# PostgreSQL
POSTGRES_USER=corbicula
POSTGRES_PASSWORD=corbicula123
POSTGRES_DB=corbicula_db

# Backend
DATABASE_URL=postgresql://corbicula:corbicula123@postgres:5432/corbicula_db
JWT_SECRET=troque_por_uma_string_longa_e_aleatoria
NODE_ENV=development
